{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">  <!-- To manipulate to try to figure out what this does-->
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword" placeholder="Old Password" type="text" minlength="1">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password" type="text" minlength="1">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="newpasswordcfm" name="newpasswordcfm" placeholder="Confirm New Password" type="text" minlength="1">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}