{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped table-borderless mx-5">
        <thead class="border-0">
            <tr>
                <th class="text-start" scope="col">Symbol</th>
                <th class="text-start" scope="col">Name</th>
                <th class="text-end" scope="col">Shares</th>
                <th class="text-end" scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td class="text-start">{{ transaction["symbol"] }}</td>
                <td class="text-start">{{ transaction["stockname"] }}</td>
                <td class="text-end">{{ transaction["shares"] }}</td>
                <td class="text-end">{{ transaction["stockprice"]|usd }}</td>
                <td>{{ usd(transaction["cost"]) }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="border-0">
            {% for user in users %}
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0">{{ usd(user["cash"])}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0">{{ usd(user["portfolio"])}}</td>
            </tr>
           {% endfor %}
        </tfoot>
    </table>
{% endblock %}